
/* 
    Archivo de estilos para la plantilla de sesión
    Created on : 23/03/2016, 11:47:50
    Author     : rincostante
*/

.lebelmodal{
    margin-bottom: 10px; 
    color: gray; 
    font-weight: normal; 
    font-size: 14px
}

